.product {
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-text {
  font-size: 30px;
  margin: 10px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.point {
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 18px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.point-desc {
  padding-left: 100px;
  font-size: 18px;
  margin-top: 10px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.subheading-text {
  font-size: 26px;
  margin: 10px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.product-description {
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.product-desc-text {
  margin: 20px;
  width: 50%;
  font-size: 14px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.shop {
  font-size: 18px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.product-topics {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
  font-size: 16px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.desc-img {
  display: flex;
  flex-direction: row;
}

.shop-by-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheading-desc-text {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 75%;
  font-size: 16px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.shop-by-text {
  padding-top: 10px;
  font-size: 16px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.subheading-img {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  width: 25%;
  border: 4px solid black;
}

.pros-and-cons-img {
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  border: 4px solid black;
  width: 220px;
}

.pointer-img {
  min-width: 20%;
  max-width: 40%;
  border: 4px solid black;
}

.attributes-desc-text {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
}

.attributes-img {
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  width: 50%;
  border: 4px solid black;
}

.subheading-button {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 4px 4px;
  background-color: white;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-weight: bold;
  padding: 4px 8px;
}

.small-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown {
  margin-top: 10px;
  font-size: 20px;
}

.about-section {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-text {
  margin-top: 0px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}

.pros-and-cons {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  background-color: #ffd580;
}

.white-back {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.attributes {
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.product-img {
  border: 4px solid black;
}

.vertical-dividor {
  border-left: 2px solid black;
  height: 140px;
}

.nav-bar {
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.nav-element {
  padding: 10px;
  color: white;
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.nav-bar-white {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.nav-element-white {
  padding: 8px;
  color: rgb(68, 68, 68);
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
}
